{% extends "base.html" %}
{% load static %}
{%block description%}"This is my signup page"{%endblock%}
{% block robots %}"index, follow"{% endblock%}
{% block css%}{%static "products/homepage.css" %}{%endblock%}
{% block title%}Cart{%endblock%}
{% block body %}
    {% include "includes/nav.html"%}
    <div class="container" >
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        <div class="square">
        <div class="square black">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
{%endblock%}